<!--Showing the ingredients of each ordered pizza-->
{% extends 'pizzas/base.html' %}

{% block page_header %}
  <h3>{{ order }}</h3>
{% endblock page_header %}

{% block content %}

<p>Order: {{ order }}</p>

<p>Toppings:</p>

<ul>
{% for topping in toppings %}
  <div class="card mb-3">
    <h4 class="card-header">
      {{ topping }}
      <small><a href="{% url 'pizzas:edit_toppings' topping.id %}">
        ~customize toppings</a></small>
    </h4>
  </div>
{% empty %}
  <li>
    This pizza has no toppings added yet. 
    <a href="{% url 'pizzas:new_toppings' order.id %}">Add toppings</a>
  </li> 
{% endfor %}
</ul>

{% endblock content %}