<!--Displaying all the orders with the dates that they were added-->
{% extends "pizzas/base.html" %}

{% block page_header %}
  <h1>Your orders</h1>
{% endblock page_header %}

{% block content %}

  <ul>
    {% for order in orders %}
      <li><h3>
        <a href="{% url 'pizzas:order' order.id %}">{{ order }}</a> - <a>{{ order.date_added|date:'M d, Y H:i' }}</a>
      </h3></li>
    {% empty %}
      <li><h3>No orders yet todey.</h3></li>
    {% endfor %}
  </ul>
  
  <h3><a href="{% url 'pizzas:new_order' %}">Add a new order</a></h3>

{% endblock content %}